.logoContainer {
    width: 162.4px; /*Aproximadamente o mesmo tamanho do resto da logo*/
    display: inline-flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    left: 8px;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px gainsboro;
}
.logoContainer.auth{
    top: 20px;
    left: 0px;
    border-radius: 0 8px 8px 0;
    box-shadow: 1px 1px 5px darkblue;
    background-color: rgb(255, 255, 255);
}
#logo {
    height: auto;
    width: 80px;
    transform: scale(1.8);
}