/* Arquivo logo.css */
.logoContainer {
    position: absolute;
    width: 162.4px; /*Aproximadamente o mesmo tamanho do resto da logo*/
    left: 8px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px gainsboro;
    display: inline-flex;
    gap: 8px;
    text-align: center;
    justify-content: center;
/*    background: linear-gradient(to right, rgb(0, 0, 121), rgb(0, 0, 71), rgb(0, 0, 54));*/
}
.logoContainer.auth{
    top: 20px;
    
    box-shadow: 1px 1px 5px darkblue;
    left: 0px;
    border-radius: 0 8px 8px 0;
    background-color: rgb(255, 255, 255);
}
#logo {
    height: auto;
    width: 80px;
    transform: scale(1.8);

} 

/* Fim do arquivo logo.css */