@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
:root {
  --bg-color: rgb(197, 197, 197);
  --primary-color: blue;
  --primary-font: 'Montserrat';
  --second-font: 'Bebas Neue';
  --font03: 'Antonio';
}
body {
  background-image: url('https://images.unsplash.com/photo-1552845108-5f775a2ccb9b?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
