.primaryBtn {
    padding: .5rem 1rem;
    border: 1px solid var(--btn-primary);
    border-radius: 8px;
    color: white;
    font-weight: 600;
    background-color: var(--btn-primary);
}
.primaryBtn:hover {
    transition: .7s;
    background-color: darkblue;
    border-color: darkblue;
    box-shadow: 0 0 10px darkblue;
}

.secondaryBtn {
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    background-color: transparent;
}
.secondaryBtn:hover {
    transition: .7s;
    background-color: rgb(214, 214, 214);
}

.authBtn {
    padding: 5px 8px;
    width: 100%;

    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: darkblue;
    color: var(--form-bg-color);
    outline: none;
}
.authBtn:hover, .authBtn:focus {
    background-color: rgb(5, 0, 70);
    transition: .7s;
    border-color: white;
}

.btnEdit {
    outline: 0;
}
.btnEdit:focus {
    transition: .7s;
    cursor: pointer;
    background-color: darkblue;
    & * {
        color: white;
    }
}
.btnEdit {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border: none;
}
