.authInput {
    width: 100%;
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 4px;
}
.authInput:hover, .authInput:focus {
    transition: .7s;
    border-color: darkblue;
    outline: none;
}

.passwordContainer__area {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.showPasswordBtn {  
    padding: 4px;
    border: none;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    background-color: transparent;
}
