.authBtn {
    padding: 5px 8px;
    width: 100%;

    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: darkblue;
    color: var(--form-bg-color);
    outline: none;
}
.authBtn:hover, .authBtn:focus {
    background-color: rgb(5, 0, 70);
    transition: .7s;
    border-color: white;
}