.main {
    min-height: 80vh;
    width: 100%;
    display: grid;
    padding: 0 10px 0 20px;
}
.mainSideBetween{
    grid-template-columns: 1fr minmax(0,auto) 1fr;
}
.mainContent {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
@media (min-width: 640px){
    .mainContent {
        display: flex;
        grid-column: 2;
    }
    .mainSideBetween{
        grid-template-columns: 1fr minmax(0,auto) 1fr;
    }
}
