.main {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.primaryBtn {
    padding: .5rem;
    border: 1px solid var(--btn-primary);
    border-radius: 8px;
    color: white;
    font-weight: 600;
    background-color: var(--btn-primary);
}
.primaryBtn:hover {
    transition: .7s;
    background-color: darkblue;
    border-color: darkblue;
    box-shadow: 0 0 10px darkblue;
}
.sectionTitle {
    margin: 2rem 0 .5rem;
    font-weight: 700;
    text-transform: uppercase;
}
